@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }


    .hero {
        height: 432px;
    }

    .hero-title {
        width: 318px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav {
        justify-content: space-between;
    }

    .about-list {
    flex-direction: column;
    gap: 72px;
    }

    .button-list {
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 23px;
        max-width: 263px;
        margin-bottom: 48px;
    }

    .button-portfolio {
        padding: 8px 16px;
    }

    .section-portfolio-list {
        margin-bottom: 48px;
    }

    .first-footer {
        margin: 0 auto;
        margin-bottom: 72px;
        max-width: 268px;
    }

    .second-footer {
        margin-bottom: 72px;
    }

    .footer-input {
        margin-bottom: 16px;
    }

    .modal {
        width: 100%;
        max-width: 392px;
        padding: 24px 16px;
    }

    @media screen and (orientation: landscape) {
        .modal {
            margin: 0 auto;
        }
    }

    @media screen and (orientation: portrait) {
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
